@import '/public/fonts.css';

:root {
    --bg-color: #FFFFFF;
    --brand-color: #E84D25;
    --separator-color: #DBDBDB;
    --title-color: #2F2F2F;
    --item-title-color: #000000;
    --item-desc-color: #00000080;
    --button-plain-text-color: #7B7B7B;
    --button-plain-bg-color: #FFFFFF;
    --button-plain-border-color: #D1D1D1;
    --button-brand-text-color: #FFFFFF;
    --button-brand-bg-color: var(--brand-color);
    --button-brand-border-color: var(--brand-color);
    overflow: hidden;
    font-size: 10px;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 1.6rem;
    overflow: hidden;
}

.container {
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(/public/imgs/orbit.svg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 67.33vh 22.28vh;
}

.styled-scrollbar {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 1.8rem;
        height: 1.8rem;
        background-color: transparent;
    }

    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner,
    &::-webkit-resizer {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: color-mix(in hsl, var(--bg-color) 50%, #888 50%);
        border: .4rem solid var(--bg-color);
        border-radius: .75rem;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: color-mix(in hsl, var(--bg-color) 25%, #888 75%);
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: color-mix(in hsl, var(--bg-color) 40%, #888 60%);
    }
    &::-webkit-scrollbar-thumb:horizontal {
        border-left: none;
        border-right: none;
    }
    &::-webkit-scrollbar-thumb:vertical {
        border-top: none;
        border-bottom: none;
    }
}
