:root {
    --brand-color: #E84D25;
    overflow: hidden;
    font-size: 10px;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 1.6rem;
    overflow: hidden;
}

.container {
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(/public/imgs/orbit.svg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 67.33vh 22.28vh;
}
