/** MiSans */
@font-face {
    font-family: 'MiSans';
    src: url(/public/fonts/MiSans-Medium-compressed.woff2) format('woff2');
}

@font-face {
    font-family: 'MiSans Bold';
    src: url(/public/fonts/MiSans-Semibold-compressed.woff2) format('woff2');
}

.font-misans {
    font-family: 'MiSans', sans-serif;
    font-weight: normal;

    &.font-bold {
        font-family: 'MiSans Bold', sans-serif;
        font-weight: normal;
    }
}

/** MiSans Latin */
@font-face {
    font-family: 'MiSans Latin';
    src: url(/public/fonts/MiSansLatin-Medium-compressed.woff2) format('woff2');
}

@font-face {
    font-family: 'MiSans Latin Bold';
    src: url(/public/fonts/MiSansLatin-Semibold-compressed.woff2) format('woff2');
}

.font-misans-latin {
    font-family: 'MiSans Latin', sans-serif;
    font-weight: normal;

    &.font-bold {
        font-family: 'MiSans Latin Bold', sans-serif;
        font-weight: normal;
    }
}

/** MiSans TC */
@font-face {
    font-family: 'MiSans TC';
    src: url(/public/fonts/MiSansTC-Medium-compressed.woff2) format('woff2');
}

@font-face {
    font-family: 'MiSans TC Bold';
    src: url(/public/fonts/MiSansTC-Semibold-compressed.woff2) format('woff2');
}

.font-misans-tc {
    font-family: 'MiSans TC', sans-serif;
    font-weight: normal;

    &.font-bold {
        font-family: 'MiSans TC Bold', sans-serif;
        font-weight: normal;
    }
}
